<div class="row height">
  <div class="col-sm-4 offset-sm-1 talkroom">
    <ul>
    <% @room.messages.each do |message| %>
    <li>
      <% if message.user == current_user %>
        <div class="talk-right">
          <div class="message-content">
            <%= message.content %>
          </div>
        </div>
      <% else %>
        <div class="talk-left">
          <div class="message-user">
            <%= message.user.name %>
          </div>
          <div class="message-content">
            <%= message.content %>
          </div>
        </div>
      <% end %>
    </li>
    <% end %>
  </ul>

  </div>
  <div class="col-sm-4 offset-sm-2">
    <%= form_for(current_user.messages.build) do |f| %>

      <%= f.text_area :content %>

      <%= f.hidden_field :room_id, value: @room.id %>

      <%= f.submit "送信", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
