<div class="container">
  <%= link_to "line", root_path %>
  <% if user_signed_in? %>
    <%= link_to 'log out', destroy_user_session_path, method: :delete %>
    <%= link_to current_user.email, edit_user_registration_path %>
  <% else %>
    <%= link_to 'sign up', new_user_registration_path %>
    <%= link_to 'sign in', user_session_path %>
  <% end %>
</div>
